--
-- PostgreSQL database dump
--

\restrict dXpBZhKunHCuEhsRueveUqCrGyBtJQQ1fXbihZARL5MF9rmyOnwEZDLJqOi44vA

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.users (id, email, username, password) FROM stdin;
1	shefali@gmail.com	shefali	$2b$12$UKpL3Jz.MqGu0ljoHz31LOHxtHi7Das.5HjvQhYDomqebxXu3LL8u
2	testuser@gmail.com	test	$2b$12$FmZe3abN2fNVqNXhZnV5JOJhq7gl4VjqEHVXPqPreQETf2oT0uI1C
\.


--
-- Data for Name: fact_checks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.fact_checks (id, user_id, claim, similarity, verdict, created_at) FROM stdin;
\.


--
-- Name: fact_checks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.fact_checks_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.users_id_seq', 2, true);


--
-- PostgreSQL database dump complete
--

\unrestrict dXpBZhKunHCuEhsRueveUqCrGyBtJQQ1fXbihZARL5MF9rmyOnwEZDLJqOi44vA

